body{
    font-family: "PT Sans Narrow", sans-serif;
    font-size: 20px;
    text-align: center;
}
h1,h2,h3{
    color: rgb(25, 155, 155);
    text-align: center;   
    font-family: "PT Sans Narrow";
}
h1{
    margin-bottom: 50px;
}
p{
    font-size: 20px;
    text-align: center;
    font-family: "PT Sans Narrow";
}
button.contact {
    background-color: purple;
    color: white;
    font-size: 20px;
    border-style: none;
    border-radius: 20px;
    height: 40px;
    width: 230px;
    margin-bottom: 20px;
    margin-top: 20px;
    
}
hr{
    
    width: 110px;
    border-style: none;
    border-top-style: dotted;
    border-color: lightgrey;
    border-width: 10px;
    margin: 25px auto;
}
.navbar-nav{
    text-align: center;
}
.imgs{
    text-align: center;
}
.skills-img{
    width: 200px;
    height: 200px;
    
}
.skills{
    align-items: center;  
}
.bottom-container {
    margin: 0px;
    background-color: pink;
    height: 100px;
    padding-top: 40px;
}
#Introduction , #Skills, #Contact{
    padding-left: 9%;
    padding-right: 9%;
}
